<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://monitoringbusinessapplicationsplatform.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2c9d01b4-7faa-42e4-adc3-197f6c9027c5/resourceGroups/PowerPlatformMonitoring/providers/Microsoft.Web/sites/MonitoringBusinessApplicationsPlatform</ResourceId>
    <UserName>$MonitoringBusinessApplicationsPlatform</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://monitoringbusinessapplicationsplatform.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>